<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MegaDesk</title>
    <meta name="description" content="Application to caluculate the cost of cutom made desks">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="~/Styles/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>DegaDesk</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy; @DateTime.Now.Year MegaDesk
        </footer>
    </div>
</body>
</html>
